{% set bodyClass = 'contact' %}

{% if entry.seoTitle | length %}
{% set seoTitle = entry.seoTitle %}
{% else %}
{% set seoTitle = entry.title %}
{% endif %}

{% if entry.seoDescription | length %}
{% set seoDescription = entry.seoDescription %}
{% endif %}

{% extends "_layouts/site" %}

{% block navigation %}
{% include "_includes/global/navigation" %}
{% endblock %}


{% block main %}

<div class="grid-container">


    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="small-12 medium-6 large-5 cell">
      {{entry.about}}
      </div>
    </div>

    <div class="grid-x grid-padding-x grid-padding-y">

        <div class="small-12 medium-6 large-3 cell">
        <div class="dark-gray margin-bottom-1">Contact</div>
         {% set contacts = entry.contacts.all() %}
         {% if contacts|length %}
         {% for contact in contacts %}
         <div class="margin-bottom-1">
             <div class="dark-gray">{{contact.header}}</div>
             <div>{{contact.company}}</div>
             <div>{{contact.email}}</div>
         </div>
         {% endfor %}
         {% endif %}
        </div>

      <div class="small-12 medium-6 large-3 cell">
        {% if entry.clients|length %}
        <div class="dark-gray margin-bottom-1">Select Clients</div>
        
        <ul class="menu vertical">
            {% for client in entry.clients %}
                <li>{{ client.client }}</li>
            {% endfor %}
        </ul>
        {% endif %}
      </div>

      <div class="small-12 medium-6 large-3 cell">
        {% if entry.press|length %}
        <div class="dark-gray margin-bottom-1">Select Press</div>
        
        <ul class="menu vertical">
            {% for press in entry.press %}
                <li>{{ press.press }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        </div>

        <div class="small-12 medium-6 large-3 cell">
            {% if entry.recognition|length %}
            <div class="dark-gray margin-bottom-1">Recognition</div>
            
            <ul class="menu vertical">
                {% for recognition in entry.recognition %}
                    <li>{{ recognition.recognition }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </div>

    </div>


    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="small-12 medium-6 large-8 cell small dark-gray">
      {{site.copyright}}
      </div>
    </div>

    
    <!-- Terms and Privacy -->
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="shrink cell">
        <ul class="menu simple dark-gray align-center">
         <li><a href="/terms" class="small">Terms</a></li>
         <li><a href="/privacy-policy" class="small">Privacy</a></li>
         <li><a href="https://www.garethjohnsdesign.com" class="small">Site Credit</a></li>
        </ul>
      </div>
    </div>
    <!-- End Terms and Privacy -->

</div>
{% endblock %}


{% block footer %}
{% include "_includes/global/footer" %}
{% endblock %}